<div id="container">
  <div id="user">
    <div>
      <div class="user-head">
        <fa-icon [icon]="faIcon"></fa-icon>
        <button mat-stroked-button color="primary">Log in</button>
      </div>
      <h1>See what’s happening in the world right now</h1>
      <div class="user-foot">
        <h3>Join Social Media today.</h3>
        <button mat-raised-button color="primary">Sign up</button>
        <button mat-stroked-button color="primary">Log in</button>
      </div>
    </div>
  </div>
  <div id="info">
    <div>
      <ul>
        <li>
          <fa-icon [icon]="faSearch"></fa-icon>
          <h3>Follow your interests.</h3>
        </li>
        <li>
          <fa-icon [icon]="faUsers"></fa-icon>
          <h3>Hear what people are talking about.</h3>
        </li>
        <li>
          <fa-icon [icon]="faComment"></fa-icon>
          <h3>Join the conversation.</h3>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="footer">
  <ul>
    <li>Help</li>
    <li>Terms</li>
    <li>Privacy</li>
    <li>Jobs</li>
    <li>Developers</li>
    <li>Settings</li>
    <li>&copy; 2019 Social Media</li>
  </ul>
</div>
